<% include ./partials/header %>

<section id="form">
	<div class="form_container">
		<h2>Please complete the form below:</h2>
		<form action="/send" method="POST" class="responders_form">
			<!-- First Name -->
			<div class="input_container">
				<label>Your First Name : </label>
				<input type="text" name="email[fname]">	
			</div>

			<!-- Last Name -->
			<div class="input_container">
				<label>Your Last Name : </label>
				<input type="text" name="email[lname]">	
			</div>

			<!-- Email -->
			<div class="input_container">
				<label>Your Email : </label>
				<input type="text" name="email[email]">	
			</div>

			<!-- Attending? -->
			<div class="input_container">
				<label>Will you be attending? : </label>
				<div class="radios_container attending">
					<div class="indv_radio_container">
						<input id="yes" name="attending" type="radio" value="yes"></input>
						<label for="yes">Yes</label>
					</div>
					<div class="indv_radio_container">
						<input id="no" name="attending" type="radio" value="no"></input>
						<label for="no">No</label>
					</div>
				</div>
			</div>


			<!-- No. of guests attending -->
			<div class="input_container guest_number_container">
				<label>How many guests will be attending with you ? (select a number)</label>

				<div class="radios_container guest_number_inputs">
					<div class="indv_radio_container">
						<input id="zero" name="email[guest_number]" type="radio" value="0"></input>
						<label for="zero">0</label>
					</div>
					<div class="indv_radio_container">
						<input id="one" name="email[guest_number]" type="radio" value="1"></input>
						<label for="one">1</label>
					</div>
					<div class="indv_radio_container">
						<input id="two" name="email[guest_number]" type="radio" value="2"></input>
						<label for="two">2</label>
					</div>
					<div class="indv_radio_container">
						<input id="three" name="email[guest_number]" type="radio" value="3"></input>
						<label for="three">3</label>
					</div>
					<div class="indv_radio_container">
						<input id="four" name="email[guest_number]" type="radio" value="4"></input>
						<label for="four">4</label>
					</div>
					<div class="indv_radio_container">
						<input id="five" name="email[guest_number]" type="radio" value="5"></input>
						<label for="five">5</label>	
					</div>
					<div class="indv_radio_container">
						<input id="six" name="email[guest_number]" type="radio" value="6"></input>
						<label for="six">6</label>
					</div>
				</div>	
			</div>

			<!-- Names of guests attending -->
			<div class="input_container guest_names_container">
				<label>Names of guests attending with you : </label>
				<div class="guest_names_inputs">
					<div class="indv_guest_container">
						<label>Guest 1 : </label>
						<input type="text" name="email[guest_names]">
					</div>
					<div class="indv_guest_container">
						<label>Guest 2 : </label>
						<input type="text" name="email[guest_names]">
					</div>
					<div class="indv_guest_container">
						<label>Guest 3 : </label>
						<input type="text" name="email[guest_names]">
					</div>
					<div class="indv_guest_container">
						<label>Guest 4 : </label>
						<input type="text" name="email[guest_names]">
					</div>
					<div class="indv_guest_container">
						<label>Guest 5 : </label>
						<input type="text" name="email[guest_names]">
					</div>
					<div class="indv_guest_container">
						<label>Guest 6 : </label>
						<input type="text" name="email[guest_names]">
					</div>
				</div>
			</div>

			<!-- Submit -->
			<button class="submit">Submit</button>
		</form>
	</div>
</section>

	<script type="text/javascript" src="/scripts/formDynamics.js"></script>
<% include ./partials/footer %>