<% include ./partials/header %>

		<section id="home">
			<div class="background"></div>
			<div class="heading_container">
				<h1><%= NAME_A %> & <%= NAME_B %></h1>
			</div>

			<div class="position_bottom">
				<form action="/confirm" method="POST">
					<label>Passcode : </label>
					<input type="text" name="code">	
					<button>Check</button>
				</form>
			</div>
		</section>
		

<% include ./partials/footer %>