<% include ./partials/header %>

		<section id="home">
			<div class="background"></div>
			<div class="heading_container">
				<h1>Name & Name</h1>
			</div>
			<div class="position_bottom">
				<div class="scroll_container">
					<div class="chevron"></div>
					<div class="msg">Send RSVP</div>
				</div>	
			</div>
			<div>
				<form class="responders_form">
					<div class="input_container">
						<label>Your Name : </label>
						<input type="text" name="">	
					</div>
					<div class="input_container">
						<label>Email : </label>
						<input type="text" name="">	
					</div>
					<input class="submit" type="submit" name="" value="Submit">
				</form>
			</div>
			
		</section>
		

<% include ./partials/footer %>