body {
	background: pink;
	margin: 0;
	height: 100vh;
	text-align: center;
	font-family: 'Satisfy';
	font-weight: bold;
	overflow: hidden;
}

section {
	height: 100vh;
}

/* Home Styles */
.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: pink;
	/*background: url("../imgs/rose-petals.jpg");*/
	background: url("imgs/rose-petals.jpg");
	background-size: cover;
	opacity: 0.6;
}

.heading_container {
	position: relative;
	padding-top: 30vh;
}

h1 {
	padding: 30px 0;
	margin: 0;
	font-size: 3em;
	position: relative;
	letter-spacing: 3px;
}

h1::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 130px;
	background-color: ivory;
	opacity: 0.5;
	z-index: -1;
}


/* Chevron Styles */
@keyframes slide {
	0% {
		transform: rotate(135deg) translate(0, 0);
		opacity: 0;
	}

	70% {
		transform: rotate(135deg) translate(45px, -45px);
		opacity: 1;
	}

	80% {
		transform: rotate(135deg) translate(50px, -50px);
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		transform: rotate(135deg) translate(35px, -35px);
		opacity: 0;
	}
}

.position_bottom {
	position: absolute;
    left: 0;
    right: 0;
    /*top: 60vh;*/
    bottom: 0;
}

.scroll_container {
	display: inline-block;
/*	background-color: ivory;*/
	padding: 0 10px;
	cursor: pointer;
}

.chevron {
	width: 50px;
	height: 50px;
	/*background-color: purple;*/
	margin: 0 auto;
	transform: rotate(135deg);
	border-top: 10px solid black;
	border-right: 10px solid black;
	margin-bottom: 90px;
	animation: slide 2s infinite;
}

.msg {
	/*background-color: orange;*/
	font-size: 1.5em;
}


/* After-Slide Styles */
@keyframes slideHeading {
	100% {
		padding-top: 0;
	}
}

@keyframes slideAndFadeChevron {
	100% {
		opacity: 0;
		transform: translateY(-30vh);
		cursor: default;
	}
}

@keyframes showForm {
	0% {
		/*transform: translateY(60vh);*/
		/*margin-top: 100vh;*/
		/*opacity: 0;*/
	}
	100% {
		/*transform: translateY(30vh);*/
		/*margin-top: 40px;*/
		opacity: 1;
	}
}

/* Form Styles */
form {
	opacity: 0;
	background: ivory;
	margin-top: 20vh;
	display: none;
	padding: 20px 0;
	position: relative;
	width: 500px;
	margin: 20vh auto 0 auto;
	text-align: left;
}

form label {
	display: inline-block;
	text-align: left;
	/*margin-left: 20px;*/
	width: 115px;
}

form ul {
	list-style-type: none;
	padding: 0;
}

/*form::before {
	content: "";
	position: absolute;
	right: 0;
	left: 0;
	background: lightblue;
	width: 80%;
	height: 50px;
	z-index: -1;
	margin: 0 auto;
}*/

.input_container {
	padding: 10px 0;
	display: block;
	margin-left: 20px;
	/*background: blue;*/
}

label {
	/*display: inline-block;*/
	/*text-align: center;*/
	/*width: 115px;*/
}

input {
	display: inline-block;
	width: 300px;
	padding: 2px 5px;
}

.wide_label {
	width: 150px;
	/*display: block;*/
	/*margin: 0;*/
}

.short_label {
	width: 80px;
}

input:focus {
	outline: none;
	border: 1px solid black;
}

form button {
	background: black;
	color: white;
	border: none;
	padding: 5px 0;
	display: block;
    width: 100px;
    margin-right: 47px;
    margin-left: auto;
    cursor: pointer;
}

select {
	margin-right: 260px;
}

.small_input {
	width: 160px;
	margin: 0 2px;
}

form .submit {
	margin-top: 10px;
	background: black;
	color: white;
	border: none;
	padding: 5px 0;
	/*padding: 2px 5px;*/
	/*text-align: center;*/
	display: block;
	width: 100px;
	/*margin: 0 auto;*/
	margin-right: 40px;
	margin-left: auto;
}