body {
	background: #fdf6e1 url("https://res.cloudinary.com/dk43bsw7p/image/upload/v1574550735/wedding_rsvp_app/background.jpg");
	margin: 0;
	height: 100vh;
	text-align: center;
	font-family: 'Sorts Mill Goudy';
	font-weight: bold;
}


/* Home Styles */
#home {
	height: 100vh;
}

.rose_red {
	position: absolute;
	top: 0;
	right: 0;
	background: url("https://res.cloudinary.com/dk43bsw7p/image/upload/v1574550736/wedding_rsvp_app/red_rose.png");
	background-size: cover;
	width: 418.640px;
	height: 299.154px;
	opacity: 0.5;
	z-index: -1;
}

.flower_pink {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url("https://res.cloudinary.com/dk43bsw7p/image/upload/v1574550735/wedding_rsvp_app/pink_flower.png");
	background-size: cover;
	width: 203.370px;
	height: 415.523px;
	opacity: 0.5;
	z-index: -1;
}

.heading_container {
	position: relative;
	padding-top: 20px;
}

h1 {
	padding: 10px 40px;
	margin: 0;
	font-size: 4em;
	position: relative;
	letter-spacing: 3px;
}

h2 {
	font-size: 2.5em;
	margin: 0;
}

@media (max-width:480px) {
	h1 {
		padding: 0;
	}
}

@media (max-width:400px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.8em;
	}
}

@media (max-width:300px) {
	h1 {
		font-size: 2.5em;
	}
}


/* Form Styles */
form {
	max-width: 500px;
	margin: 0 auto;
	font-size: 1.1em;
}

input:focus {
	outline-color: #000;
}


/* Form Styles for Passcode */
.passcode_form {
	display: inline-block;
	min-width: 300px;
	position: absolute;
    left: 0;
    right: 0;
    top: 50vh;
    /*background: pink;*/
}

.passcode_form form label {
	display: block;
	font-size: 1.5em;
	font-weight: normal;
}

.same_line input{
	/*width: 80%;*/
	height: 26px;
	padding-left: 5px;
	width: 220px
}

.same_line button {
	height: 30px;
	width: 60px;
}

@media (max-width:400px) {
	.passcode_form {
		min-width: 100%;
	}
	.passcode_form form label {
		font-size: 1.1em;
	}
	.same_line input {
		display: block;
		width: 90%;
		margin: 0 auto 10px;
	}
	.same_line button {
		display: block;
		width: 90%;
		margin: 0 auto;
	}
}

@media (max-height:380px) {
	.passcode_form {
		/*position: absolute;*/
		/*top: 100vh;*/
		/*transform: translateY(-110%);*/
		position: relative;
		top: auto;
		margin: 50px 0;
	}
}

@media (max-height: 550px) and (max-width: 800px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.8em;
	}
	.rose_red {
		opacity: 0.3;
	}
	.flower_pink {
		display: none;
	}
}


/* Form Styles for main form */
#form h2 {
	padding: 40px 0 20px 0;
	/*font-size: 2em;*/
}

#form form {
	padding: 40px 10%;
}

.input_container {
	margin-bottom: 25px;
}

.input_container label {
	display: block;
	text-align: left;
}

.input_container input {
	width: 100%;
	height: 22px;
	padding-left: 5px;
}

/* Form - Radio Styles*/
.radios_container {
	/*background: purple;*/
	padding: 0;
	text-align: left;
	margin-top: 3px;
}

.indv_radio_container {
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}

input[type=radio] {
	display: none;
}

.indv_radio_container label {
	width: 20px;
	height: 20px;
	background: #fff;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	border: 1px solid #000;
}

input[type=radio]:checked+label {
	background: #000;
	color: #fff;
}

/* Form - Guest's input */
.guest_number_container {
	display: none;
}

.guest_names_container {
	display: none;
}

.indv_guest_container {
	text-align: left;
	margin-top: 10px;
	display: none;
}

.indv_guest_container label {
	display: inline;
}

.indv_guest_container input {
	display: inline;
	float: right;
	width: 80%;
}

/* Form Button Styles */
button {
	background: #000;
	color: #fff;
	border: none;
	transition: 0.3s linear;
}

button:hover {
	cursor: pointer;
	background: #ff7f50;
}

button.submit {
	width: 100%;
	padding: 10px 0;
	margin-top: 10px;
}

/* Feedback */
.error {
	background: #f3d9d9;
	color: #ff0000;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px 10%;
}

.error ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.success {
	background: #daeecf;
	color: #008000;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px 10%;
}